APP_NAME=Autotest Platform
APP_ENV=local
API_PREFIX=/api

POSTGRES_DB=autotest_platform
POSTGRES_USER=autotest_user
POSTGRES_PASSWORD=autotest_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET_KEY=change_me_super_secret_key_32_chars_min
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
